@inject IBookRepository BookRepository
@inject NavigationManager NavigationManager
<div class="book-card">
    <div class="book-card-body">
        <h5>@book.Title</h5>
        By @book.Author | @book.PublicationDate?.ToString("MMMM dd, yyyy")
    </div>
    <div class="actions">
        <a href="@($"/edit/{book.Id}")" class="btn btn-warning shadow-none">Edit</a>
        <button @onclick="OpenConfirmDailog" class="btn btn-danger shadow-none ms-3">
            Delete
        </button>
    </div>
</div>

<ConfirmDialog show="showConfirmDialog" OnCancel="CancelDelete" OnOk="DeleteBook">
    <h3>
        Do you want to delete the book <strong>@book.Id</strong>?
    </h3>
</ConfirmDialog>

@code {
    [Parameter]
    public required Book book { get; set; }

    private bool showConfirmDialog = false;

    private void OpenConfirmDailog()
    {
        showConfirmDialog = true;
    }
    private void CancelDelete()
    {
        showConfirmDialog = false;
    }

    private async Task DeleteBook()
    {
        await BookRepository.DeleteAsync(book.Id);
        showConfirmDialog = false;
        NavigationManager.NavigateTo("/");
    }
}
